<div class="container">
  <div class="card">
    <div class="card-header" style="background-color: #2d3748;color: white">
      <h3>Create category</h3>

    </div>
    <div class="card-body">
      <div [hidden]="submitted" style="width: 400px;">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="text" class="form-control" id="categoryName" required [(ngModel)]="category.categoryName" name="categoryName">
          </div>

          <button type="submit" class="btn btn-success">Add</button>
        </form>
      </div>

      <div [hidden]="!submitted">
        <h4>You submitted successfully!</h4>
      </div>
    </div>
  </div>
</div>
